<html>
<head>
    <title>Formulario de Predicción</title>
</head>
<body>
    <h2>Predecir maduración de aguacate</h2>
    <form action="/predict" method="post">
        <label>Firmness:</label><br>
        <input type="text" name="firmness"><br>

        <label>Hue:</label><br>
        <input type="text" name="hue"><br>

        <label>Saturation:</label><br>
        <input type="text" name="saturation"><br>

        <label>Brightness:</label><br>
        <input type="text" name="brightness"><br>

        <label>Color Category:</label><br>
        <input type="text" name="color_category"><br>

        <label>Sound (dB):</label><br>
        <input type="text" name="sound_db"><br>

        <label>Weight (g):</label><br>
        <input type="text" name="weight_g"><br>

        <label>Size (cm³):</label><br>
        <input type="text" name="size_cm3"><br><br>

        <button type="submit">Predecir</button>
    </form>
</body>
</html>
